// All element-level global styling

@import 'variables';

h1, h2, h3, h4, h5, p, button, a, label {
    font-family: $primaryFont;
    margin: 0;
    line-height: 1.7;
}

button {
    font-weight: 400;
    font-size: 15px;
    border-radius: 4px;
    height: 42px;
    padding: 8px 16px 8px 16px;
    min-width: 150px;
}

button:active, button:focus, button:hover, input:active, input:focus {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}