@import 'variables';

// All mixins used throughout app

@mixin display-flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin button-primary ($textColor, $background) {
    color: $textColor;
    background-color: $background;
    border: none;
}

@mixin button-secondary ($color, $background) {
    color: $color;
    background-color: $background;
    border: 1.5px solid $color;
}