@import 'variables';
@import 'element';
@import 'mixins';

.modal {
    @include display-flex(center, center, column);
    background-color: $backgroundColor;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    width: 90vw;

    .modal__bg {
        align-self: flex-start;
        background-color: $backgroundColor;
        width: 7vw;
        margin-top: -108px;
        height: 100%;
        z-index: 999;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }

    .modal__content {
        position: relative;
        margin-top: -350px;
        @include display-flex(center, center, column);
        width: 80%;
    }

    .modal__title {
        position: relative;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.7em;
        width: 70%;

        span {
            padding: 0 15px;
            position: relative;
            z-index: 1;
            color: $primaryFontColor;
            font-family: $secondaryFont;
        }
      }

      .modal__title:before, .modal__title:after {
        background: white;
        opacity: .3;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 12%;
      }
      
      .modal__title:before {
        left: 0;
        margin-right: 30px;
    }
    
    .modal__title:after {
        right: 0;
        margin-left: 30px;
      }

    .modal__subtitle {
        font-size: .7em;
        letter-spacing: 1.1px;
        font-weight: $black;
        color: $secondaryColor;
        opacity: $fontOpacity;
        margin-bottom: 1.4em;
    }

    .modal__details {
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: $light;
        opacity: $fontOpacity;
        margin-bottom: 2.8em;
        width: 70%;
    }

    .modal__detailsAlt {
        margin-bottom: 1em;
    }

    .modal__form {
        @include display-flex(center, center, row);
        width: 70%;
        z-index: 10;

        .modal__form--structure {
        @include display-flex(flex-start, flex-start, column);
        width: 50%;
        }

        .modal__form--structure:first-child {
            margin-right: 20px;
        }

        .modal__form--label {
            font-size: 12px;
            color: white;
            padding-bottom: 4px;
        }
        
        .modal__form--input {
            padding-left: 15px;
            height: 40px;
            width: 260px;
            border-radius: 3px;
            border: 1.5px solid white;
            background: transparent;
            color: white;
        }

        .modal__form--input:active, .modal__form--input:focus {
            background-color: rgba(255, 255, 255, 0.12)!important;
        }
    }

    .modal__button {
        @include display-flex(space-between, center, row);
        width: 320px;
        z-index: 9;

        .modal__button--primary {
            @include button-primary(white, $secondaryColor);
            transition: all .35s ease-in-out;
        }

        .modal__button--primary:hover {
            opacity: .7;
        }

        .modal__buttonAlt {
            @include button-primary(white, $secondaryColor);
            transition: all .35s ease-in-out;
            z-index: 999;
        }

        .modal__buttonAlt:hover {
            opacity: .7;
        }
        
        .modal__button--secondary {
            @include button-secondary(white, rgba(255, 255, 255, 0.05));
            transition: all .35s ease-in-out;
        }

        .modal__button--secondary:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

    }
}