@import 'variables';
@import 'element';
@import 'mixins';

.modal {
    @include display-flex(center, center, column);
    background-color: $backgroundColor;
    padding: 90px 100px 95px 100px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    width: 70vw;

    .modal__title {
        position: relative;
        text-align: center;
        margin-bottom: .7em;
        font-size: 1.9em;
        width: 70%;

        span {
            padding: 0 15px;
            position: relative;
            z-index: 1;
            color: $primaryFontColor;
            font-family: $secondaryFont;
        }
      }

      .modal__title:before, .modal__title:after {
        background: white;
        opacity: .3;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 18%;
      }
      
      .modal__title:before {
        left: 0;
        margin-right: 30px;
    }
    
    .modal__title:after {
        right: 0;
        margin-left: 30px;
      }

    .modal__subtitle {
        font-size: .7em;
        font-weight: $black;
        color: $secondaryColor;
        opacity: $fontOpacity;
        margin-bottom: 2em;
    }

    .modal__details {
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: $light;
        opacity: $fontOpacity;
        margin-bottom: 2.4em;
        width: 70%;
    }

    .modal__button {
        @include display-flex(space-between, center, row);
        width: 320px;

        .modal__button--primary {
            @include button-primary(white, $secondaryColor);
            transition: all .35s ease-in-out;
        }

        .modal__button--primary:hover {
            opacity: .7;
        }
        
        .modal__button--secondary {
            @include button-secondary(white, rgba(255, 255, 255, 0.05));
            transition: all .35s ease-in-out;
        }

        .modal__button--secondary:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

    }
}