// Font variables
$primaryFont: 'Lato', 'Open sans';
$secondaryFont: 'Merriweather', 'Open sans';

// Font weights
$heavyWeight: 800;
$mediumWeight: 600;
$lightWeight: 400;

// Color variables
$backgroundColor: #1b1e26;
$primaryFontColor: #fff;
$accentColor: #3772FF;
$secondaryColor: #DF2935;
$tertiaryColor: #FDCA40;

// Other variables
$fontOpacity: .7;