// Font variables
$primaryFont: 'Lato', 'Open sans';
$secondaryFont: 'Merriweather', 'Open sans';

// Font weights
$black: 900;
$heavy: 800;
$medium: 600;
$light: 400;

// Color variables
$backgroundColor: #1b1e26;
$primaryFontColor: #fff;
$accentColor: #3772FF;
$secondaryColor: #858AE3;
$tertiaryColor: #26408B;

// Other variables
$fontOpacity: .7;