@import 'variables';

.wave {
    position: absolute;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 44%;
}

.wave1 {
    background: white;
    opacity: .05;
    top: 0;
    right: -100px;
    width: 1000px;
    height: 1000px;
    animation: drift 15000ms infinite linear;
}


@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }