@import 'variables';

.modal {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    background-color: $backgroundColor;
    width: 60vw;
    padding: 50px 100px 50px 100px;

    .modal__content {

    }
}